<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logo" alt="Pharmachain Logo" src="./../assets/PHARMACHAIN-logo-white.png" />
  <div class="spacer"></div>
  <label for="access-camera">
    <svg class="qrcode-scan" enable-background="new 0 0 60 60" height="30" width="30" viewBox="0 0 60 60"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="m7 16h-6c-.552 0-1-.448-1-1v-14c0-.552.448-1 1-1h14c.552 0 1 .448 1 1v6c0 .552-.448 1-1 1h-7v7c0 .552-.448 1-1 1zm-5-2h4v-7c0-.552.448-1 1-1h7v-4h-12z" />
      <path
        d="m15 60h-14c-.552 0-1-.448-1-1v-14c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v7h7c.552 0 1 .448 1 1v6c0 .552-.448 1-1 1zm-13-2h12v-4h-7c-.552 0-1-.448-1-1v-7h-4z" />
      <path
        d="m59 16h-6c-.552 0-1-.448-1-1v-7h-7c-.552 0-1-.448-1-1v-6c0-.552.448-1 1-1h14c.552 0 1 .448 1 1v14c0 .552-.448 1-1 1zm-5-2h4v-12h-12v4h7c.552 0 1 .448 1 1z" />
      <path
        d="m59 60h-14c-.552 0-1-.448-1-1v-6c0-.552.448-1 1-1h7v-7c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v14c0 .552-.448 1-1 1zm-13-2h12v-12h-4v7c0 .552-.448 1-1 1h-7z" />
      <path
        d="m46 47h-32c-.552 0-1-.448-1-1v-32c0-.552.448-1 1-1h32c.552 0 1 .448 1 1v32c0 .552-.448 1-1 1zm-31-2h30v-30h-30z" />
      <path d="m59 31h-58c-.552 0-1-.448-1-1s.448-1 1-1h58c.552 0 1 .448 1 1s-.448 1-1 1z" /></svg>
  </label>
  <input id="access-camera" type="file" accept="image/*" capture="camera"
    style="visibility: hidden; position: absolute;" />
</div>

<!-- Content -->
<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
      viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
          [ngStyle]="{'fill': (isVerifing | async) ? '#475561' : 'green'}" />
      </g>
    </svg>

    <div *ngIf="!(isVerifing | async)" style="display: contents;">
      <span>I'm Verificator! </span>
      <img class="verificator-logo" alt="Verificator Logo" src="./../assets/logo-white.png" />
    </div>

    <div *ngIf="isVerifing | async" style="display: contents;">
      <span>Verifing Pharmaceutical Supply Chain</span>
      <img class="verificator-logo" alt="Verificator Logo" src="./../assets/search.svg" />
    </div>
  </div>

  <!-- Suppy Chain -->
  <div *ngIf="!(isVerifing | async) && !(isNotFound | async)" style="display: contents;">
    <!-- Specification -->
    <div class="batch-specification">
      <h2>Batch Specification</h2>
      <p><a (click)="onClickContracAddress(data.value.batchCA)">{{data.value.batchCA}}</a></p>

      <div class="spec-container">
        <div class="spec-col">
          <div class="spec-row">
            <span class="spec-key">Medicine</span>
            <span class="spec-value">{{data.value.medicine}}</span>
          </div>
          <div class="spec-row">
            <span class="spec-key">Batch No.</span>
            <span class="spec-value">{{data.value.batchNumber}}</span>
          </div>
          <div class="spec-row">
            <span class="spec-key">MFG date</span>
            <span class="spec-value">{{data.value.mfg}}</span>
          </div>
          <div class="spec-row">
            <span class="spec-key">EXP date</span>
            <span class="spec-value">{{data.value.exp}}</span>
          </div>
        </div>
        <div class="spec-col">
          <div class="spec-row">
            <span class="spec-key">Classification</span>
            <span class="spec-value">{{data.value.classification}}</span>
          </div>
          <div class="spec-row">
            <span class="spec-key">Delared price</span>
            <span class="spec-value">{{data.value.price}} vnd / {{data.value.unit}}</span>
          </div>
          <div class="spec-row">
            <span class="spec-key">Made in</span>
            <span class="spec-value">{{data.value.madeIn}}</span>
          </div>
          <div class="spec-row">
            <span class="spec-key">Made by</span>
            <span class="spec-value">{{data.value.madeBy}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Progress -->
    <div class="batch-progress">
      <h2>Batch Progress</h2>
      <div class="spec-container">
        <div *ngFor="let item of data.value.supplyChain; let i=index" class="container-for" style="display: contents;">
          <div *ngIf="i % 2 === 0; then leftSide else rightSide" class="container-if" style="display: contents;"></div>
          <ng-template #leftSide>
            <div class="spec-col">
              <h3>{{item.type}}</h3>
              <div class="spec-row spec-row-normal">
                <i class="material-icons">
                  person
                </i>
                <span>{{item.tenantName}}</span>
              </div>
              <div class="spec-row spec-row-contract">
                <i class="material-icons">
                  receipt
                </i>
                <span><a (click)="onClickContracAddress(item.tenantCA)">{{item.tenantCA}}</a></span>
              </div>
              <div class="spec-row spec-row-normal">
                <i class="material-icons">
                  phone
                </i>
                <span>{{item.tenantPhone}}</span>
              </div>

              <div style="width: 50%;">
                <hr style="opacity: 0.3;">
              </div>

              <div class="spec-row spec-row-time">
                <i class="material-icons">
                  access_time
                </i>
                <span>{{item.transferTime}}</span>
              </div>
              <div class="spec-row spec-row-contract">
                <i class="material-icons">
                  receipt
                </i>
                <span><a (click)="onClickContracAddress(item.transferCA)">{{item.transferCA}}</a></span>
              </div>
              <div class="spec-row spec-row-quantity spec-row-normal">
                <i><img src="./../assets/drug.png" alt="quantity icon"></i>
                <span>{{item.transferQuantity}} / {{item.transferUnit}}</span>
              </div>

              <div class="line-right">
                <i class="material-icons"> check_circle </i>
              </div>
            </div>
            <div class="spec-col hidden"></div>
          </ng-template>
          <ng-template #rightSide>
            <div class="spec-col hidden"></div>
            <div class="spec-col">
              <h3>{{item.type}}</h3>
              <div class="spec-row spec-row-normal">
                <i class="material-icons">
                  person
                </i>
                <span>{{item.tenantName}}</span>
              </div>
              <div class="spec-row spec-row-contract">
                <i class="material-icons">
                  receipt
                </i>
                <span><a (click)="onClickContracAddress(item.tenantCA)">{{item.tenantCA}}</a></span>
              </div>
              <div class="spec-row spec-row-normal">
                <i class="material-icons">
                  phone
                </i>
                <span>{{item.tenantPhone}}</span>
              </div>

              <div style="width: 50%;">
                <hr style="opacity: 0.3;">
              </div>

              <div class="spec-row spec-row-time">
                <i class="material-icons">
                  access_time
                </i>
                <span>{{item.transferTime}}</span>
              </div>
              <div class="spec-row spec-row-contract">
                <i class="material-icons">
                  receipt
                </i>
                <span><a (click)="onClickContracAddress(item.transferCA)">{{item.transferCA}}</a></span>
              </div>
              <div class="spec-row spec-row-quantity spec-row-normal">
                <i><img src="./../assets/drug.png" alt="quantity icon"></i>
                <span>{{item.transferQuantity}} / {{item.transferUnit}}</span>
              </div>

              <div class="line-left">
                <i class="material-icons"> check_circle </i>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- NOT FOUND 404 -->
  <div *ngIf="!(isVerifing | async) && (isNotFound | async)" class="not-found">
    <img src="./../assets/Supply chain NOT FOUND!-logo.png">
  </div>

  <!-- Report -->
  <div [ngStyle]="{'margin-top': (isVerifing | async) ? '282px' : ((isNotFound | async) ? '141px' : null)}"
    class="report-zone">
    <div class="report-header">
      <i class="material-icons">
        report
      </i>
      <h2>Report</h2>
      <div class="spacer"></div>
      <i class="material-icons button">
        send
      </i>
    </div>
    <div class="report-content">
      <textarea placeholder="Notify us if you detect any frauds or counterfeit pharmaceuticals"></textarea>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <span>&#169; <span class="year">{{year}}</span> - PharmaChain Group</span>
  </footer>

  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
    viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>

</div>